# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace
FlashThoughtPlatform/*.xcworkspace
FlashThoughtsIOS/*.xcworkspace
xcuserdata/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# CocoaPods
Pods/
Podfile.lock

# Bundler
Gemfile.lock
.bundle/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Swift Package Manager
.build/

# Objective-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# App specific
*.

